<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  </head>
  <body>
    <div id='id-element'>
      <div class='class-element'>
      </div>
      <div class='class-element'>
      </div>
      <div class='class-element'>
      </div>
    </div>
    <div id='outer-element'>
      <div id='containing-element'>
        <div class='element'>
        </div>
        <div id='inner-id-element'>
        </div>
        <div class='inner-class-element'>
        </div>
      </div>
    </div>
    <div id='outer_element'>
      <div id='containing_element'>
        <div class='element'>
        </div>
        <div id='inner_id_element'>
        </div>
        <div class='inner_class_element'>
        </div>
      </div>
    </div>
  </body>
</html>
